:root {
    --violeta-logo: #8a039b;
    --amarillo-logo: #e4a846;
    --rosa-logo: #e57989;
    --amarillo-claro:#e4d946 ;
    --violeta-claro: #b87ab8;
    }
    
    
    
    body{
        background-color: #f9fbe7;
    }
    
    header{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-color:rgba(244, 176, 112, 0.764);
        color: white;
        height: 100px; 
        font-size: 12px;
        padding-top: 10px;
        border-radius: 5px;
        display:flex;
       
    }
    .logo {
       height: 80px;
       display:flex;
       
       
    }