:root {
    --violeta-logo: #8a039b;
    --amarillo-logo: #e4a846;
    --rosa-logo: #e57989;
    --amarillo-claro:#e4d946 ;
    --violeta-claro: #b87ab8;
    --sombra-suave: rgba(0, 0, 0, 0.1);
    --sombra-intensa: rgba(0, 0, 0, 0.2);
    }
    
    
    
    body{
        background-color: #f9fbe7;
    }
    
    header{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-color:rgba(244, 176, 112, 0.764);
        color: white;
        height: 100px; 
        font-size: 12px;
        padding-top: 10px;
        border-radius: 5px;
        display:flex;
       
    }
    .logo {
       height: 80px;
       display:flex;
       
       
    }
    
    .nav-menu ul{
        background-color: var(--amarillo-logo);
        list-style-type: none;
       padding: 10px;
       display: flex;
       align-content: center;
       justify-content: space-around;
       border-radius: 5px;
       
    }
    
    .nav-menu a{
        color: white; 
        text-decoration: none;
        font-size: 15px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    
    .nav-menu a:hover {
      
        color: #7a16049c;
        box-shadow: 4px 4px 15px var(--sombra-intensa);
     
    
    }
    
    img {
    width: 125%;
    height: auto;
    border-radius: 7px;
    display: flex;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.5);
    }
    
    
    
    
    
    
    #product{  
        font-family: Arial, Helvetica, sans-serif; 
        font: 15px;
        color: var(--violeta-logo);
       text-align: center;
    }
    
    
    
    .tips-flex {
       display: flex;
      align-items: justify;
      justify-content: space-evenly;
      height: 300px;
    
      line-height: 1.7;
      color :black;
      box-shadow:4px 4px 10px 5px rgba(0, 195, 255, 0.158) ;
      background-color: aliceblue;
      padding-top: 40px;
      border-radius: 7px;
      
      
    }
    
    .tip-item {
        background-color: var(--violeta-claro);
         width: 180px;
        height: 180px;
        padding-left: 5px;
        
        border-style: solid;
        border-color:var(--amarillo-logo) ;
        border-radius: 5px;
        
        
    }
    
    .important-item {
        background-color:var(--amarillo-claro) ;
        transform: translateY(-30px);
    }
    
    
    
    .cabecera {
        max-width: 80%;
        height: auto;
        
       
    }
   
    
    .galeria {
        font-family: Arial, Helvetica, sans-serif;
       
    }
    
    .productos-opciones {
    background-color: #f0f4c3;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: inline-flex;
    
    column-gap: 30px;
    row-gap: 10px;
    height: 350px;
    padding: 25px;
    text-shadow: var(--sombra-texto);
    border-radius: 7px;
    
    }
    
    .productos-card {
    
        transition: transform 0.3s, box-shadow 0.3s;
        
        
    }
    
    .productos-card:hover {
        transform: translateY(-5px);
        box-shadow: 4px 4px 15px var(--sombra-intensa);
    }
    
    .productos-card :is(p, h3) {
    text-align: center;
    font-size: 15px;
    padding: 5px;
    }
    
    #fotomaton {
        background-image: url(Imagenes/fotomaton5.png);
        background-repeat: no-repeat;
        border-radius: 7px;
       background-size: 100%;
       height: 90%;
       width: 90%;
       padding-left: 15px;
       text-align: justify;
       font-size: 10px;
        
    
    }
    
    #plataforma {
        background-image: url(Imagenes/plataforma3.png);
        background-repeat: no-repeat;
        border-radius: 7px; 
        background-size: 100%;
        height: 90%;
        width: 90%; 
        padding-left: 15px;
       text-align: justify;
       font-size: 10px;
        
    }
    
    #horaloca {
        background-image: url(Imagenes/horaloca3.png);
        background-repeat: no-repeat;
        border-radius: 7px;
        background-size: 100%;
        height: 90%;
        width: 90%; 
        padding-left: 15px;
       text-align: justify;
       font-size: 10px;
           
}


table {
    width: 80%;
    max-width: 900px;
    min-width: 500px;
    margin: auto;
    border-radius: 7px;
    background-color: #c0cc38; 
}

thead{
    background-color: #aab929;
    color: #FFFFFF;
    text-align: center;
}

tbody tr:nth-child(even){
    background-color: #afa959;
}

tbody tr:nth-child(odd){
    background-color: #d7e492;
}

tfoot{
    background-color: #88b60b;
    text-align: center;
}


.gallery-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 7px;
}


.gallery {
    display:inline-block;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}


.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: flex;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.2);
}

.enlaces {
    
     
    padding: 7px;
    background-color: var(--sombra-suave);
    border-radius: 7px;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;


   
}
.logos {
    display: flex;
    
    
}

.videos{
text-align: center;
}
.fotomaton {
    text-align: center;
    width: 50%; 
    margin: auto;
    border-radius: 6px;
    
}
.plataforma {
    text-align: center;
    width: 50%; 
    margin: auto;
    border-radius: 6px;
}

.horaloca {
    text-align: center;
    width: 50%; 
    margin: auto;
    border-radius: 6px;
}

    footer{
        background-color: rgb(238, 175, 66);
        text-align: center;
        padding-top: 15px;
        height: 60px;
        border-radius: 5px;
        
    
    }
   
